/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap
/storage
/tests
.editorconfig
.styleci.yml
artisan
package.json
phpunit.xml
webpack.mix.js
server.php
composer.lock
composer.json
.env.example
.gitattributes
